*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: hsl(0, 0%, 8%);
  padding: 20px;

}
.container{
    max-width: 400px;
    max-height: 600px;
    border-radius: 10px;
    margin:auto;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 20px 30px;
}
.container .profile-image img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
 .profile-info{
    text-align: center;
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
}
.profile-info h1{
    font-size: 24px;
    margin-bottom: 10px;
}
.profile-info .location {
    color: hsl(75, 94%, 57%);
    margin-bottom: 25px;
}

.social-links{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.social-links a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    transition:0.5s ease;
    display: inline-block;
    padding: 15px 0;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
}
.social-links a:hover{
    background-color: hsl(75, 94%, 57%);
}
@media screen and (max-width:450px) {
    body{
        padding: 50px;
        font-size: 12px;
    }
    .container{
        max-width: 300px;
        max-height: 700px;
        padding: 30px 20px;
        margin: auto;
    }
.container p{
    font-size: 12px;
}
.container .location{
    font-size: 14px;
}
}


